// start .sWorkingProcess
.sWorkingProcess {
	background-color: $light;

	padding-bottom: 75px;
	@include media-breakpoint-up(sm){
		padding-bottom: 60px;
	}
	position: relative;

	.section-title{
		h2{
			margin-bottom: 0px;

			padding-bottom: 25px;
			@include media-breakpoint-up(md){
				padding-bottom: 48px;
			}
		}

		padding-top: 35px;
		@include media-breakpoint-up(md){
			padding-top: 47px;
		}
	}

	//header
	&__working-pr-header{
		background-color: $white-light;
		display: flex;

		//justify-content: space-around;
		justify-content: flex-start;
		flex-wrap: wrap;
		@include media-breakpoint-up(xl){
			flex-wrap: nowrap;
			justify-content: space-around;
		}
		@include media-breakpoint-up(xxl){
			justify-content: space-between;
			padding: 0 60px;
		}

	}
	&__header-item{
		margin-left: 20px;
		margin-right: 20px;
		width: calc(33% - 40px);


		br{
			display: none;
		}
		@include media-breakpoint-up(xl){
			width: auto;
			margin-left: 0;
			margin-right: 0;

			br{
				display: block;
			}
		}

		min-height: 105px;
		display: flex;
		align-items: center;
		cursor: pointer;

		position: relative;
		&:after{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background-color: $danger;

			opacity: 0;
			@include mt();
		}

		&:hover{
			&:after{
				opacity: .5;
			}
			.sWorkingProcess__number-box{
				color: $body-color;
			}
			.sWorkingProcess__item-txt{
				color: $body-color;
			}
		}

		&.active{
			&:after{
				opacity: 1;
			}
			.sWorkingProcess__number-box{
				color: $body-color;
			}
			.sWorkingProcess__item-txt{
				color: $body-color;
			}
		}

	}
	&__number-box{
		flex-shrink: 0;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		margin-right: 15px;

		line-height: 45px;
		text-align: center;

		background-color: $white;
		color: $secondary;
		font-size: $em-base;
		font-weight: 500;
		@include mt();
	}
	&__item-txt{
		font-weight: 500;
		color: $secondary;

		font-size: 14px;
		@include media-breakpoint-up(xl){
			font-size: $em-base;
		}
		line-height: 24px;
		@include mt();
	}
	//slider
	&__workinkg-pr-slider{
		//swiper default
		position: relative;
		.swiper-container {}
		.swiper-wrapper{}
		.swiper-slide{
			height: auto;
		}
		//pugin
		.workinkg-pr-slider-js-pugin{
			position: absolute;
			left: 0;
			bottom: -22px;
		}
	}
	//slide
	&__working-pr-slide{
		height: 100%;
		background-color: $white;

		padding: 20px;
		@include media-breakpoint-up(sm){
			padding: 30px;
		}
		@include media-breakpoint-up(lg){
			padding: 60px 60px 62px 61px;
		}

		@include media-breakpoint-up(lg){
			display: flex;
		}
	}
	//mob parts
	&__mobile-slide-num{
		margin-left: auto;
		margin-right: auto;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background-color: $light;
		line-height: 35px;
		text-align: center;
		margin-bottom: 17px;
	}
	&__mobile-headline{
		font-family: $default-font-alt;
		font-size: 18px;
		line-height: 1;
		padding-bottom: 40px;
		text-align: center;

		position: relative;
		&:after{
			content: '';
			position: absolute;
			width: 45px;
			height: 4px;
			background-color: $danger;

			bottom: 19px;
			left: calc(50% - 22.5px);
		}
	}
	//
	&__slide-img-block{
		width: auto;
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 15px;
		@include media-breakpoint-up(lg){
			width: 32.31%;
			margin-right: 40px;
			margin-left: 0;
			margin-bottom: 0px;
		}
		@include media-breakpoint-up(xl){
			margin-right: 80px;
		}
		flex-shrink: 0;
		height: auto;
		background-color: $dark;
		align-self: flex-start;

		img{
			opacity: 0.5;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__slide-content{
		//&__slide-descr
		p {
			color: #000000;

			padding-bottom: 15px;
			position: relative;
			margin: 0 -5px;
			@include media-breakpoint-up(sm){
				padding-bottom: 40px;
				position: static;
				margin: 0;
			}

			font-size: 12px;
			line-height: 20px;
			@include media-breakpoint-up(md){
				font-size: $em-base;
				line-height: 26px;
			}

			text-align: center;
			@include media-breakpoint-up(lg){
				text-align: left;
			}
		}
	}

	&__slide-headline{
		font-family: $default-font-alt;
		font-size: 30px;
		//line-height: 24px;
		line-height: 1;
		padding-bottom: 59px;

		position: relative;
		top: -7px;
		&:after{
			content: '';
			position: absolute;
			width: 45px;
			height: 4px;
			background-color: $danger;

			bottom: 12px;
			left: calc(50% - 22.5px);
			@include media-breakpoint-up(sm){
				bottom: 29px;
				left: 0;
			}
		}
	}

	//btns
	&__our-services-btn{
		@extend .btn;
		@extend .btn-danger;
		@extend .btn-red-frame;

		padding: 0 10px;
		min-width: 100% !important;
		margin-bottom: 10px;
		@include media-breakpoint-up(md){
			min-width: calc(50% - 7.5px) !important;
			margin-right: 15px;
		}
		@include media-breakpoint-up(lg){
			min-width: 216px !important;
		}
	}
	&__send-aplication-btn{
		@extend .transparent-gray-btn-frame;
		padding: 0 22px;

		min-width: 100%;
		@include media-breakpoint-up(md){
			min-width: calc(50% - 7.5px);
		}
		@include media-breakpoint-up(lg){
			min-width: 0;
		}
	}
	&__{}
	&__{}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sWorkingProcess