.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(45.7/10)*1rem;
	width:(45.701/45.7)*1em;
}
.icon-close {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-down-arrow {
	font-size:(492/10)*1rem;
	width:(492/492)*1em;
}
.icon-footer-soc-inst {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-right-chevron {
	font-size:(407.44/10)*1rem;
	width:(407.44/407.44)*1em;
}
.icon-search {
	font-size:(52.97/10)*1rem;
	width:(52.97/52.97)*1em;
}
.icon-special-check {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
