mixin sResult()
	// start sResult
	+b.SECTION.sResult.section#sResult&attributes(attributes)
		+e.bg-img-block
			img.lazy(data-src="img/@2x/result-bg.jpg" src="#" alt="")
		.container
			+b.section-title.text-center
				h2 Что вы имеете в итоге
				p Вместе наши шансы выиграть выше, чем вы думаете
			+e.result-row.row
				+e.slider-col.col-12.col-lg-6.order-lg-1
					+e.slider-container
						.swiper-container.result-slider-js
							.swiper-wrapper
								.swiper-slide
									+resultSlide()
								.swiper-slide
									+resultSlide(2)
								.swiper-slide
									+resultSlide(3)
								.swiper-slide
									+resultSlide(4)
							.result-slider-prev
								+icon('down-arrow')
							.result-slider-next
								+icon('down-arrow')
				+e.ten-plus-col.col-12.col-lg-6
					+e.ten-plus-container
						+e.ten-plus-headline 10+&nbsp;от&nbsp;автора, которые вы&nbsp;получаете
						+e.UL.ten-plus-pills
							+e.LI.ten-plus-item Несоизмеримое соотношение сэкономленных реальных денежных средств к оплаченной услуге.
							+e.LI.ten-plus-item Снижение сопутствующих бизнесу рисков и обретение чувства спокойствия и защищенности.
							+e.LI.ten-plus-item Соблюдение полной независимости и конфиденциальности в таких интимных вопросах как финансы, учет, налоги, споры и претензии сторон.
							+e.LI.ten-plus-item Сторонний взгляд, сформированное объективное представление о ситуации, причинах ее возникновения, возможных исходах и путях разрешения.
							+e.LI.ten-plus-item Тренировка штатного персонала.
						+e.A.lear-more-btn(href='#') Подробнее
	// end sResult

mixin resultSlide(slideNum='')
	+e.result-slide
		+e.ResSl-company-name-txt Cтрой Формат Технострой
		+e.ResSl-company-name-descr= 'Строительная компания' + slideNum
		+e.ResSl-content
			+e.ResSl-content-item
				+e.SPAN.ResSl-item-headline Проблема:
				+e.SPAN.ResSl-item-descr Клиент работал с&nbsp;&laquo;компаниями-однодневками&raquo;, для уменьшения НДС. Не&nbsp;представил в&nbsp;налоговый орган доказательства добросовестного налогоплательщика. ИФНС вычисляет &laquo;компании-однодневки&raquo; и&nbsp;за&nbsp;весь период проверки с&nbsp;данными компаниями доначисляет НДС и&nbsp;налог на&nbsp;прибыль.
			+e.ResSl-content-item
				+e.SPAN.ResSl-item-headline Что сделали:
				+e.SPAN.ResSl-item-descr Представляли интересы на&nbsp;этапе досудебного урегулирования спора.
			+e.ResSl-content-item
				+e.SPAN.ResSl-item-headline Результат:
				+e.SPAN.ResSl-item-descr Клиент смог отбить все доводы ифнс о&nbsp;&laquo;компаниях- однодневках&raquo; и&nbsp;вернуть денежные средства доначисленные в&nbsp;решении, включая представительские расходы.