mixin sSpecials()
	// start sSpecials
	+b.SECTION.sSpecials.section#sSpecials&attributes(attributes)
		.container.text-center
			+b.section-title.text-center
				h2 Наши отличительные особенности
				p Многие видят детали, мы видим их роль и потенциал
			+e.specials-block
				.swiper-container.special-swiper-js
					.swiper-wrapper
						.swiper-slide
							h5 Наши принципы и подходы
							+e.UL.special-pills-list
								+specialPill('В агентстве отсутствует поточный принцип, только индивидуальный подход к проблеме заказчика, только высококачественное обслуживание клиента на всем протяжении дела от первых лиц')
								+specialPill('Понимаем предпринимателей на 100%, сами отдали 20 лет жизни операционному управлению многопрофильного бизнеса. В настоящем помогаем бизнесу пережить, во многом  то, что пришлось пережить самим (в танке сами горели)')
								+specialPill('Вместе с вами в вашей беде 24 часа')
								+specialPill('Не разбрасываемся гарантиями, считаем, что в нашей стране это не честно')
								+specialPill('Не беремся за работу, в которой не сможем обеспечить  должную защиту бизнесу')
								+specialPill('Максимальное внимание к деталям, не теряя объемного стратегического взгляда на ситуацию в сочетании с одержимой креативностью мышления, это по-настоящему выгодно отличает нас от остальных')
						.swiper-slide.gray-fade
							h5 Изнанка рынка
							+e.UL.special-pills-list
								+specialPill('В больших компаниях действует поточная технология, закрепленный за заказчиком специалист и опытный куратор,  который одномоментно сопровождает несколько разных клиентов, время его распределено по принципу Парето')
								+specialPill('В большинстве своем специалисты, работающие в консалтинге, никогда не имели собственного серьезного бизнеса, многие из них очень далеки от истинного понимания психологии предпринимателя')
								+specialPill('В основной своей массе поточная система обслуживает своих клиентов в рамках своего режима рабочего времени')
								+specialPill('Нуждающимся в защите всегда нужны гарантии, их много где дают, ради заключения договора, потом всегда можно сослаться на репрессивность государства')
								+specialPill('Время деньги (клиент платит – процесс ведется) используемый принцип многих в основном юридических организаций')
								+specialPill('Заказчики,  пришедшие к нам из других мест, жалуются на поверхностное или шаблонное применение подхода в их истории, это подчеркивает неумение видеть ситуацию по-другому, то, что называется выйти за рамки')
				.special-slider-pugin.swiper-pugin-frame.d-block.d-lg-none
			+e.free-consult-btn
				span Бесплатная консультация
				+icon('right-chevron')

	// end sSpecials


mixin specialPill(pillTxt='В агентстве отсутствует поточный принцип, только индивидуальный подход к проблеме заказчика, только высококачественное обслуживание клиента на всем протяжении дела от первых лиц')
	+e.LI.special-pills-item
		p=pillTxt